@media screen and (min-width: 768px) {
    .links {
        display: block;
    }

    .links ul {
        display: flex;
    }

    .links li {
        flex: 1;
    }

    .links a {
        text-align: center;
        border: none;
    }

    .burger {
        display: none;
    }

    .courses {
        grid-template-columns: repeat(3,1fr);
    }

    .type {
        width: 120px;
    }

    .social img {
        width: 40px;
    }
}