body {
    font-family: "Edu NSW ACT Cursive", cursive;
    text-align: center;
}

header {
    background-color: #000000;
    color: #adb5db;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

section {
    background-color: #adb5db;
    color: #000000;
    padding: 15px;
    border-radius: 10px;
}